@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
html,
body {
  font: 13pt;
  font-family: "Roboto";
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fdf6e3;
  color: #002b36;
  overflow: auto; }

h1 {
  font-size: 2em;
  font-weight: 100; }

div.maincontainer {
  display: flex;
  height: calc(100vh - 30px);
  width: 100vw;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; }
  div.maincontainer > div.box {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 0 1 auto; }
    div.maincontainer > div.box.stretchy {
      flex: 1 1 auto; }

div.box {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: initial; }
  div.box.stretchy {
    flex: 1 1 auto; }

div.container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center; }
  div.container.reactive {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0 0.5rem;
    justify-content: flex-start;
    align-items: flex-start; }
    @media (orientation: landscape) {
      div.container.reactive {
        flex-direction: row; } }
    @media (orientation: portrait) {
      div.container.reactive {
        flex-direction: column; } }
  div.container > .justify_center {
    justify-content: center; }
  div.container > .align_start {
    align-items: flex-start; }

.box-buzzer {
  width: 50%;
  margin: 1%;
  border-radius: 100%;
  background: #859900;
  border: none; }

.box-buzzer:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  text-align: center; }

.clickableHint {
  cursor: pointer; }

.blue {
  background: #839496;
  color: #002b36; }

.darkblue {
  background: #002b36;
  color: #839496; }

.red {
  background: #dc322f;
  color: #fdf6e3; }

.green {
  background: #859900;
  color: #fdf6e3; }

#reset {
  height: 20vh; }

.big-button {
  width: 500px;
  height: 160px;
  margin: 10px; }

.debugcontainer {
  background: #000;
  color: #aaa;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center; }
  .debugcontainer > .debugbox {
    text-align: left;
    padding: 0.5rem 15px;
    margin: 0;
    font-size: 0.75rem;
    font-weight: 300;
    display: flex; }

form input {
  width: 30vmin;
  padding: 1vmin;
  border: 1; }

.flexycenter {
  display: flex;
  justify-content: center;
  align-items: center; }

#timestampsTable th:nth-child(1),
#timestampsTable td:nth-child(1) {
  width: 5%; }

#timestampsTable th:nth-child(2),
#timestampsTable td:nth-child(2) {
  width: 25%; }

#timestampsTable th:nth-child(3),
#timestampsTable td:nth-child(3) {
  width: 20%; }

#timestampsTable th:nth-child(4),
#timestampsTable td:nth-child(4) {
  width: 25%; }

#timestampsTable th:nth-child(5),
#timestampsTable td:nth-child(5) {
  width: 25%; }

table#teams {
  border-collapse: collapse; }
  table#teams tbody {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; }
    table#teams tbody:nth-child(2) {
      background-color: #dc322f; }
    table#teams tbody:nth-child(3) {
      background-color: #859900; }
    table#teams tbody:nth-child(4) {
      background-color: #08f7fe; }
  table#teams th,
  table#teams td {
    vertical-align: middle;
    text-align: center; }
    table#teams th:nth-child(1),
    table#teams td:nth-child(1) {
      width: 15%; }
    table#teams th:nth-child(2),
    table#teams td:nth-child(2) {
      width: 50%; }
    table#teams th:nth-child(3),
    table#teams td:nth-child(3) {
      width: 30%; }

table {
  width: 100%; }

tbody {
  height: 100%;
  overflow: auto; }

table.fixed_header th,
table.fixed_header td {
  display: inline-block;
  box-sizing: border-box; }

table.fixed_header tr,
table.fixed_header tbody {
  display: block; }

span.glow {
  font-family: "Permanent Marker";
  font-size: 1rem;
  animation: glow 1.5s ease-in-out both infinite; }
  span.glow:nth-child(1) {
    animation-delay: -0.09375s; }
  span.glow:nth-child(2) {
    animation-delay: -0.1875s; }
  span.glow:nth-child(3) {
    animation-delay: -0.28125s; }
  span.glow:nth-child(4) {
    animation-delay: -0.375s; }
  span.glow:nth-child(5) {
    animation-delay: -0.46875s; }
  span.glow:nth-child(6) {
    animation-delay: -0.5625s; }
  span.glow:nth-child(7) {
    animation-delay: -0.65625s; }
  span.glow:nth-child(8) {
    animation-delay: -0.75s; }
  span.glow:nth-child(9) {
    animation-delay: -0.84375s; }
  span.glow:nth-child(10) {
    animation-delay: -0.9375s; }
  span.glow:nth-child(11) {
    animation-delay: -1.03125s; }
  span.glow:nth-child(12) {
    animation-delay: -1.125s; }
  span.glow:nth-child(13) {
    animation-delay: -1.21875s; }
  span.glow:nth-child(14) {
    animation-delay: -1.3125s; }
  span.glow:nth-child(15) {
    animation-delay: -1.40625s; }
  span.glow:nth-child(16) {
    animation-delay: -1.5s; }

@keyframes glow {
  0%,
  100% {
    text-shadow: 0 0 1.66667px snow, 0 -3px 10px #f5d300, -3px 3px 10px #fe53bb, 3px 3px 10px #f5d300; }
  33% {
    text-shadow: 0 0 1.66667px snow, 0 -3px 10px #08f7fe, -3px 3px 10px #f5d300, 3px 3px 10px #08f7fe; }
  66% {
    text-shadow: 0 0 1.66667px snow, 0 -3px 10px #fe53bb, -3px 3px 10px #08f7fe, 3px 3px 10px #fe53bb; } }
