@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

// Debug stuff
$debugbar_height: 30px;

// Glowy stuff
$r: 10px; // glow radius
$o: 3px; // glow offset
$d: 1.5s; // duration
$chars: 16; // # of letters

$c: #08f7fe #fe53bb #f5d300;

html,
body {
  font: 13pt;
  font-family: "Roboto";
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fdf6e3;
  color: #002b36;

  overflow: auto;
}

h1 {
  font-size: 2em;
  font-weight: 100;
}

.maincontainer {
  display: flex;
  height: calc(100vh - #{$debugbar_height});
  width: 100vw;
  margin: 0;
  padding: 0;

  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  > .box {
    text-align: center;
    padding: 0;
    margin: 0;

    width: 100%;

    display: flex;
    justify-content: center;

    flex: 0 1 auto;

    &.stretchy {
      flex: 1 1 auto;
    }
  }
}

.box {
  text-align: center;
  padding: 0;
  margin: 0;

  width: 100%;

  display: flex;
  justify-content: center;

  flex: initial;

  &.stretchy {
    flex: 1 1 auto;
  }
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  &.reactive {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0 0.5rem;

    justify-content: flex-start;
    align-items: flex-start;

    @media (orientation: landscape) {
      flex-direction: row;
    }

    @media (orientation: portrait) {
      flex-direction: column;
    }
  }

  & > .justify_center {
    justify-content: center;
  }

  & > .align_start {
    align-items: flex-start;
  }
}

.box-buzzer {
  width: 50%;
  margin: 1%;
  border-radius: 100%;
  background: #859900;
  border: none;
}

.box-buzzer:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  text-align: center;
}

.clickableHint {
  cursor: pointer;
}

.blue {
  background: #839496;
  color: #002b36;
}

.darkblue {
  background: #002b36;
  color: #839496;
}

.red {
  background: #dc322f;
  color: #fdf6e3;
}

.green {
  background: #859900;
  color: #fdf6e3;
}

.debugcontainer {
  background: #000;
  color: #aaa;

  width: 100%;
  height: $debugbar_height;

  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  > .debugbox {
    text-align: left;
    padding: 0.5rem 15px;
    margin: 0;
    font-size: 0.75rem;
    font-weight: 300;

    display: flex;
  }
}

form input {
  width: 30vmin;
  padding: 1vmin;
  border: 1;
}

.flexycenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

th,
td {
  &:nth-child(1) {
    width: 5%;
  }
  &:nth-child(2) {
    width: 25%;
  }
  &:nth-child(3) {
    width: 20%;
  }
  &:nth-child(4) {
    width: 25%;
  }
  &:nth-child(5) {
    width: 25%;
  }
}

table {
  width: 100%;
}

tbody {
  height: 100%;
  overflow: auto;
}

td {
  display: inline-block;
  box-sizing: border-box;
}

tr,
tbody {
  display: block;
}

span.glow {
  font-family: "Permanent Marker";
  font-size: 1rem;
  animation: glow $d ease-in-out both infinite;

  @for $i from 1 through $chars {
    &:nth-child(#{$i}) {
      animation-delay: $i/$chars * -$d;
    }
  }
}

@mixin glow($c1, $c2, $c3) {
  text-shadow: 0 0 $r/6 snow, 0 (-$o) $r $c3, (-$o) $o $r $c2, $o $o $r $c3;
}

@keyframes glow {
  0%,
  100% {
    @include glow(nth($c, 1), nth($c, 2), nth($c, 3));
  }
  33% {
    @include glow(nth($c, 2), nth($c, 3), nth($c, 1));
  }
  66% {
    @include glow(nth($c, 3), nth($c, 1), nth($c, 2));
  }
}
